body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f6fafa;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: hsl(0, 0%, 83%);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: hsl(0, 0%, 83%);
  margin-top: 40px;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #e5f3f6;
}


.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}


.hero-text button {
  padding: 10px 20px;
  border: 1px solid rgb(148, 52, 52);
  background-color: white;
  cursor: pointer;
}


.hero-image img {
  width: 30px;
  border-radius: 20px;
}


.popular {
  text-align: center;
  padding: 40px 20px;
}


.popular .items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}


.popular .item {
  text-align: center;
  max-width: 120px;
}


.contact {
  background-color: #d9eaea;
  padding: 50px 20px;
  text-align: center;
}


.contact h2 {
  margin-bottom: 30px;
}


.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}


.contact input {
  padding: 10px;
  width: 280px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 16px;
}


.contact button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  background-color: rgb(89, 7, 241);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #aaa;

}
.popular .items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  

}


.popular .item {
  text-align: center;
  max-width: 120px;
  
}
